.slider-color {
  position: relative;
}

.slider-color::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  inset: 0;
  margin: auto;
}


.slider-food {
  --gaza-pt: 60%;
}

.slider-food::before {
  background: linear-gradient(
    to left,
    var(--color-primary) var(--gaza-pt),
    transparent var(--gaza-pt),
    transparent 100%
  );
}



.slider-medical {
  --medical-pt: 30%;
}

.slider-medical::before {
  background: linear-gradient(
    to left,
    #28A745 var(--medical-pt),
    transparent var(--medical-pt),
    transparent 100%
  );
}



.slider-water {
  --water-pt: 15%;
}

.slider-water::before {
  background: linear-gradient(
    to left,
    #1B365D var(--water-pt),
    transparent var(--water-pt),
    transparent 100%
  );
}



.slider-support {
  --support-pt: 10%;
}

.slider-support::before {
  background: linear-gradient(
    to left,
    #74777F var(--support-pt),
    transparent var(--support-pt),
    transparent 100%
  );
}

